<div class="pk-nav-vertical pk-nav-admin-left">
	<ul>
		<li>
			<a href="index.php?c=app&a=superadmin:index&s=forum&t=edit">添加版块</a>
		</li>
		<li>
			<a href="index.php?c=app&a=superadmin:index&s=forum&t=list">版块管理</a>
		</li>
		<li>
			<a href="index.php?c=app&a=superadmin:index&s=forum&t=editreads">帖子批量管理</a>
		</li>
		<li>
			<a href="index.php?c=app&a=superadmin:index&s=forum&t=waterproof">防灌水</a>
		</li>
		<li>
			<a href="index.php?c=app&a=superadmin:index&s=forum&t=postcheck">帖子审核</a>
		</li>
		<li>
			<a href="index.php?c=app&a=superadmin:index&s=forum&t=recycle">回收站</a>
		</li>
	</ul>
</div>